$breakpoints:(
	sp: "only screen and (max-width:480px)",
	tb: "only screen and (max-width:960px)",
	pc: "only screen and (max-width:1280px)",
);
@mixin mediaq($breakpoint){
	@if map-has-key($breakpoints,$breakpoint){
		@media #{map-get($breakpoints, $breakpoint)}{
			@content;
			}
		}@else {
			@error "$breakpointsに#{$breakpoint}というキーはありません"
		}
}
$ultramarine:#548FBD;
@mixin justify($a,$b,$c){
	// flexを含む時に使う関数
	display:flex;
	justify-content: $a;
	text-align:$b;
	align-items: $c;
}
@mixin font($fsize,$weight){
	// fontの太さや大きさを変更する関数
	font-size: $fsize;
	font-weight: $weight;
}
@mixin hw($h,$w){
	// 縦横を指定する時に使う関数
	height:$h;
	width:$w; 
}
@mixin bg($bg-color,$border){
	background-color: $bg-color;
	border: $border;
}
@mixin color($bg-color,$color){
	// 色を指定したい時に使う関数
	background-color: $bg-color;
	color: $color;
}
@mixin form($h:120px,$w:400px,$bs:border-box,$fs:16px){
	// formのサイズ指定
	height: $h;
	width: $w;
	box-sizing: $bs;
	font-size: $fs;
}
// headerここから
.fixed{
	position: fixed;
	width:100%;
	margin-top: -70px;
}
#margin-for-fixed{
	margin-top:70px;
}
header{
	@include justify(space-between,none,none);
	@include color(#1dace0,#fff);
	font-size:18px;
	padding:5px 0;
	color: #fff;
}
.header-right{
	@include justify(none,none,center);
	margin-right:80px;
	@include mediaq(sp){
		display: none;
	}
	& li:first-child{
		margin-right:20px;
	}
}
.icon{
	@include justify(null,null,center);
	margin-left: 80px;
	@include mediaq(tb){
	margin-left: 20px;
	}
	img{
		height:60px;
	}
	.name strong{
		color:#eae51f;
	}
	span{
		@include mediaq(sp){
			display: none;
		}
	}
}
// headerここまで
// welcomeここから
body{
	@include mediaq(sp){
		min-width: 375px;
	}
}
.welcome{
	@include justify(center,center,null);
	flex-direction: column;
	color:#fff;
	height: 100vh;
	background:{
		image: url(../img/background1.jpg);
		repeat: no-repeat;
		attachment: fixed;
		size:cover;
	};
}
.title{
	font-size: 64px;
	@include mediaq(sp){
		font-size: 30px;
	}
}
.guidline{
	@include font(28px,bold);
	margin-top: 50px;
	@include mediaq(sp){
		@include font(24px,normal);
		margin-top: 30px;
	}
	li:not(:first-child){
		margin-top: 16px;
	}
}
.btn{
	@include font(28px,bold);
	@include hw(55px,170px);
	color: #fff;
	cursor:pointer;
	margin-left: 120px;
	border-radius: 10px;
	@include mediaq(sp){
		@include font(24px,bold);
		@include hw(48px,40%);
		margin: 20px 0px 0px 0px;
	}
	&:first-child{
		margin-left: 0px;
		@include mediaq(sp){
			margin-top: 0px;
		}
	}
}
.btn-group{
	margin-top: 60px;
	@include mediaq(sp){
		@include justify(null,null,center);
		flex-flow: column nowrap;
		margin-top: 40px;
	}
}
.register{
	@include bg(rgba(29,172,224,.5),3px solid rgba(29,172,224,.3));
	&:hover{
		background-color: rgb(29,172,224);
	}
}
.login{
	@include bg(rgba(236,227,35,.5),3px solid rgba(236,227,35,.3));
	&:hover{
		background-color: rgb(236,227,35);
	}
}
// welcomeここまで
// curriculumここから
.curriculum{
	margin-top: 50px;
}
.sub-title{
	@include font(36px,none);
	margin:20px 0;
	text-align:center;
}
.img-box{
	@include justify(center,null,null);
	margin-top: 50px;
	@include mediaq(pc){
		justify-content: space-around;
	}
	@include mediaq(tb){
		flex-wrap: wrap;
		align-content: space-around;
	}
	li{
		display: flex;
		flex-direction: column;
		@include mediaq(pc){
			margin-right: 30px;
		}
		@include mediaq(tb){
			margin:30px 0px 0px 0px;
		}
		&:nth-child(2){
			margin: 0 60px;
			@include mediaq(tb){
				margin:30px 0px 0px 0px;
			}
		}
	}
	img{
		@include hw(300px,300px);
		}
	span{
		font-size: 24px;
		text-align: center;
		margin-top: 20px;
	}
}
// curriculumここまで
// contact ここから
.contact{
	@include justify(center,center,null);
	flex-direction: column;
	height: 350px;
	margin-top:30px;
	padding-top:50px;
	background-color: #C4C4C4;
	@include mediaq(tb){
		height:100%;
		padding: 40px 20px;
	}
	.form{
		margin: 30px 0px 40px;
		@include justify(center,null,null);
		@include mediaq(tb){
			flex-flow:column nowrap;
			margin: 30px 0;
		}
		.form-left{
			margin-right: 50px;
			@include mediaq(tb){
				margin:0px 0px 30px 0px;
			}
			.name{
				@include form;
				@include hw(50px,400px);
				margin-bottom: 20px;
				@include mediaq(tb){
					width: 80%;
				}
			}
			.e-mail{
				@include form;
				@include hw(50px,400px);
				@include mediaq(tb){
					width: 80%;
				}
			}
		}
		.inquiry{
			@include form(120px,400px,border-box,16px);
			@include mediaq(tb){
					width: 80%;
			}
		}
		button{
			@include form(null,null,border-box,20px);
			padding: 5px 40px;
			text-align: center;
		}
	}
	.submit{
		@include color($ultramarine,#fff);
		@include form(50px,null,border-box,18px);
		border:2px solid $ultramarine;
		border-radius: 10px;
		transition-duration: 500ms;
		padding: 10px 20px;
		&:hover{
		@include color(#fff,$ultramarine);
		border-color: $ultramarine;
		transition-duration: 500ms;
		}
	}
}
// contactここまで
footer{
	@include justify(space-between,center,center);
	@include color(#233f51,#fff);
	font-size: 18px;
	padding-top: 5px;
	@include mediaq(sp){
		justify-content: center;
	}
	.footer-right{
		margin-right: 80px;
		@include mediaq(sp){
			margin-right: 0;
		}
	}
	.icon{
		@include mediaq(sp){
			display: none;
		}
	}
}